[submodule "examples/pico-sdk"]
	path = examples/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "fatfs"]
	path = fatfs
	url = https://github.com/abbrev/fatfs.git
	branch = master
[submodule "littlefs"]
	path = littlefs
	url = https://github.com/littlefs-project/littlefs.git
